body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

h2, h4 {
  margin: auto;
  width: 100%;
}

section {
  margin: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
}

#calories-count, #reset-button, #diet-type, #food-information, #added-food-menu {
  display: none;
}

#physiological-form, #diet-form, #food-details {
  display: flex;
  flex-wrap: wrap;
}

#activity-factor-col, #training-calories-col {
  display: none;
}

.row {
  display: ruby;
  width: 100%;
  align-items: baseline;
  margin-bottom: 7px;
}

.col {
  flex: 1;
  margin-right: 15px;
}

.col:last-child {
  margin-right: 0;
}

#added-menu-list .col {
  width: 13%;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100px;
  text-align: center;
}

button {
  margin: 12px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

th {
  width: 15%;
}

/* Mobile-first media query */
@media only screen and (min-width: 600px) {
  /* Adjust layout for larger screens */
  body {
      font-size: 16px; /* Increase font size for better readability */
  }

  section {
      margin: 30px auto; /* Center sections on larger screens */
      max-width: 70%; /* Limit width of sections */
  }
}
